:root {
    --basic-black: #000000;
    --basic-half-gray: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --basic-white: #FFFFFF;

    --special-yellow: #F7E296;
    --special-yellow-dark: #F0C52E;
    --special-yellow-light: #F7E296;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: var(--basic-black);

    background: var(--basic-white);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    vertical-align: top;
    min-width: 20px;
    border: none;

    padding-top: 10px;
    padding-bottom: 9px;

    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;

    text-align: center;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    background-image: linear-gradient(to bottom, transparent 40%,
                                               var(--special-yellow-dark) 42.5%,
                                               var(--special-yellow-dark) 57.5%,
                                               transparent 60%);
    background-color: transparent;
}

.button:hover {
    background-color: var(--special-yellow-dark);
}

.button:focus,
.button:active {
    color: var(--special-yellow-light);
}

.list,
.footer-social {
  list-style: none;
}

.page_whole {
    height: 100%;
}

.page {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page__header {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: var(--special-yellow);
    margin-bottom: 200px;
}

.main-header__navigation {
    height: 50px;
    width: 100%;
    max-width: 1000px;

    position: relative;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--basic-grey-light);
}

.main_nav__toggle-menu {
    margin: 0;
    margin-left: 10px;
    padding: 0;

    width: 30px;

    display: flex;
    flex: none;
    justify-content: center;
}

.main_nav__toggle-menu svg {
    fill: var(--special-yellow-dark)
}

.main_nav__menu {
    position: absolute;
    top: 100%;
    left: 0;

    width: 980px;
    min-height: 50px;

    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;

    background-color: var(--special-yellow);

    z-index: 3;

    display: none;
}

.main_nav__toggle-menu:hover .main_nav__menu {
    display: flex;
    justify-content: flex-start;
}

.main_nav__a1:hover .main_nav__menu,
.main_nav__a1:focus-within .main_nav__menu {
    display: flex;
    justify-content: flex-start;
}

.main_nav__logo {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
}

.main_nav__search-form {
    padding: 0;
    margin: 0;
    margin-right: 10px;

    width: 200px;
    border: 1px solid #dcdbdb;

    display: flex;
    justify-content: flex-start;
}

.search-form__input {
    box-sizing: border-box;
    height: 30px;
    width: 170px;

    padding: 0;
    padding-left: 5px;
    margin: 0;

    color: var(--basic-black);

    border: none;
    outline: none;
}

.search-form__button {
    height: 30px;
    width: 30px;

    font: inherit;
    text-transform: uppercase;

    background-color: var(--basic-white);
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;

    border: none;
}

.search-form__button:focus,
.search-form__button:active {
    border: none;
    outline: none;
}