<!DOCTYPE html>
<html class="page_whole" lang="ru">
<head>
  <meta charset="utf-8">
  <title>Workouts</title>
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body class="page">
  <div class="container">
    <header class="page__header main-header">
      <nav class="main-header__navigation main_nav">
        <button class="main_nav__toggle-menu" type="button">
          <svg id="icon-hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25" width="40" height="25">
            <path d="M38 3H2L0 2V1l2-1h36l1 1v1l-1 1zm0 11H2l-2-1v-1l2-1h36l1 1v1l-1 1zm0 11H2l-2-1v-1l2-1h36l1 1v1l-1 1z">
            </path>
          </svg>
        </button>
        <ul class="main_nav__menu list list--none text text--size18 text--upper">
            <li class="site-list__item site-list__item--active">
              <a href="#">Главная</a>
            </li>
            <li class="site-list__item">
              <a href="contacts.html">Контакты</a>
            </li>
          </ul>
        <a class="main_nav__logo logo">
          <img class="logo__image" src="img/logo.png" width="50" height="50" alt="Workouts">
        </a>
        <form class="main_nav__search-form search" action="https://echo.htmlacademy.ru" method="post">
          <label for="search"></label>
          <input id="search" aria-label="поиск" type="text" name="key-word" placeholder="Поиск по сайту">
          <button class="search__simple-button" type="submit"></button>
        </form>
      </nav>
    </header>
  </div>

  <main class="page__main main">
    <section class="main__blocks blocks">
      <ul class="blocks__list list list--none">
        <li class="blocks__item block">
          <a class="block__link" href="#">
            <h3 class="block__title text text--upper text--size16 text--gray1">
              The Top 10 Benefits of Regular Exercise
            </h3>

            <img class="block__image" src="img/chicken-small-mobile@1x.jpg" width="140" height="144"
              alt="The Top 10 Benefits of Regular Exercise">
            <p class="block__text">
              Exercise is defined as any movement that makes your muscles work and requires your body to burn calories.
              There are many types of physical activity, including swimming, running, jogging, walking and dancing, to name a few.
              Being active has been shown to have many health benefits, both physically and mentally. It may even help you live longer (1Trusted Source).
              Here are the top 10 ways regular exercise benefits your body and brain.
            </p>
          </a>

          <a class="product__link product__link--order button text text--upper">Заказать</a>
        </li>
      </ul>
    </section>         
  </main>

  <footer class="page__footer main-footer">
    <div class="main-footer__wrapper">
      <a class="main-footer__logo logo logo--footer">
        <img class="logo__image" src="img/logo-footer.svg" width="128px" height="24px" alt="Workouts">
      </a>

      <ul class="main-footer__social social list list--none">
        <li class="social__item">
          <a class="social__link social__link--vkontakte" href="https://vk.com/htmlacademy">Мы в Вконтакте</a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--instagram" href="https://www.instagram.com/htmlacademy">Мы в
            Инстаграме</a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--facebook" href="https://www.facebook.com/htmlacademy">Мы в Фейсбуке</a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>
